<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Smile\Manifestation\Api\Data\ManifestationInterface"
                type="Smile\Manifestation\Model\Manifestation"/>
    <preference for="Smile\Manifestation\Api\ManifestationRepositoryInterface"
                type="Smile\Manifestation\Model\ManifestationRepository"/>
    <preference for="Smile\Manifestation\Api\Data\PlaceInterface"
                type="Smile\Manifestation\Model\Place"/>
    <preference for="Smile\Manifestation\Api\PlaceRepositoryInterface"
                type="Smile\Manifestation\Model\PlaceRepository"/>
    <preference for="Smile\Manifestation\Api\Data\PlaceSearchResultsInterface"
                type="Smile\Manifestation\Model\PlaceSearchResults" />
    <preference for="Smile\Manifestation\Api\Data\ManifestationSearchResultsInterface"
                type="Smile\Manifestation\Model\ManifestationSearchResults" />
    <preference for="Smile\Manifestation\Api\Data\ManifestationPlaceLinkInterface"
                type="Smile\Manifestation\Model\ManifestationPlaceLink"/>
    <preference for="Smile\Manifestation\Api\Data\ManifestationPlaceLinkSearchResultsInterface"
                type="Smile\Manifestation\Model\ManifestationPlaceLinkSearchResults"/>
    <preference for="Smile\Manifestation\Api\GetManifestationPlaceLinksInterface"
                type="Smile\Manifestation\Model\ManifestationPlaceLink\Command\GetManifestationPlaceLinks"/>
    <preference for="Smile\Manifestation\Api\GetPlacesAssignedToManifestationOrderedByPriorityInterface"
                type="Smile\Manifestation\Model\Place\Command\GetPlacesAssignedToManifestationOrderedByPriority"/>
    <preference for="Smile\Manifestation\Api\ManifestationPlaceLinksDeleteInterface"
                type="Smile\Manifestation\Model\ManifestationPlaceLink\Command\ManifestationPlaceLinksDelete"/>
    <preference for="Smile\Manifestation\Model\ManifestationPlaceLinksValidatorInterface"
                type="Smile\Manifestation\Model\ManifestationPlaceLink\Validator\ManifestationPlaceLinksValidator"/>
    <preference for="Smile\Manifestation\Api\ManifestationPlaceLinksSaveInterface"
                type="SSmile\Manifestation\Model\ManifestationPlaceLink\Command\ManifestationPlaceLinksSave"/>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="manifestation_listing_source" xsi:type="string">manifestationCollection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="manifestationCollection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">eav_manifestation_entity</argument>
            <argument name="resourceModel" xsi:type="string">Smile\Manifestation\Model\ResourceModel\Manifestation</argument>
        </arguments>
    </virtualType>
</config>
