<style>
    #product-widget {
        display: flex;
    }

    #product-table {
        flex: 1;
    }
</style>

<div id="product-widget" data-bind="foreach: productList">
    <div id="product-table">
        <table>
            <tr>
                <td><img data-bind="attr: {src: src}" width="120" height="150" alt="Product Image"></td>
            </tr>
            <tr>
                <td data-bind="text: name"></td>
            </tr>
            <tr>
                <td data-bind="text: price" style="font-weight: bold"></td>
            </tr>
            <tr>
                <td>
                    <a data-bind="attr: {href: url}" target="_blank">
                        <button>Buy</button>
                    </a>
                </td>
            </tr>
        </table>
    </div>
</div>
